<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="ILRepack" version="2.0.18" targetFramework="net48"/>
    <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net48"/>
    <package id="Oxide.CSharp" version="2.0.4061-develop" targetFramework="net48"/>
    <package id="Oxide.Core" version="2.0.4050" targetFramework="net48"/>
    <package id="Oxide.References" version="2.0.3781-develop" targetFramework="net48"/>
    <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net48"/>
</packages>